// iphone5调整后的font-size为64px，dpr为2，设计图为640px
// iphone6-8通过flexible调整后的font-size为75px，dpr为2，设计图为750px
// iphone6-8plus通过flexible调整后的font-size为82.8,dpr为3，设计图为818px
// px2rem第二个参数通过设计图的尺寸来进行相应调整，下面以iphone6为例
@function px2rem($px, $base-font-size: 75px) {
    @return ($px / $base-font-size) * 1rem;
}

@mixin font-dpr($font-size) {
    font-size: $font-size;
    [data-dpr="2"] & {
        font-size: $font-size * 2;
    }
    [data-dpr="3"] & {
        font-size: $font-size * 3;
    }
}