@import "mixin";
// 物件长度按照设计图的尺寸进行调整px2rem()
// 字体不使用rem，使用配合dpr来提高字体大小@include font-dpr()
html,
body {
    height: 100vh;
    background-color: #ee0a3b;
}

.item-section {
    .item-section_header {
        img {
            width: px2rem(750px);
            display: block;
        }
    }
    ul {
        padding: px2rem(10px);
        .flag {
            display: table;
            width: 100%;
            margin-bottom: 1px;
            background-color: #fff;
            .flag-item {
                display: table-cell;
                padding: px2rem(12px) 0;
                vertical-align: top;
                background-color: #fff;
                &.figure {
                    width: px2rem(180px);
                    height: px2rem(180px);
                    img {
                        width: px2rem(180px);
                        height: px2rem(180px);
                        vertical-align: top;
                    }
                }
                &.figcaption {
                    width: px2rem(1000px);
                    padding-left: px2rem(15px);
                    padding-right: px2rem(15px);
                    position: relative;
                    .flag-title {
                        a {
                            @include font-dpr(12px);
                            color: #333;
                            line-height: 1.25;
                            overflow: hidden;
                            -webkit-line-clamp: 2;
                            line-clamp: 2;
                            -webkit-box-orient: vertical;
                            box-orient: vertical;
                            display: -webkit-box;
                            display: box;
                        }
                    }
                    .flag-price {
                        padding: px2rem(11.25px) 0 px2rem(15px);
                        span {
                            display: inline-block;
                            background-color: #ee0a3b;
                            vertical-align: middle;
                            border-radius: px2rem(2px);
                            padding: 0 px2rem(6px);
                            line-height: 1.2;
                            color: #fff;
                            font-weight: 700;
                            margin-right: px2rem(5px);
                            @include font-dpr(11px);
                        }
                        strong {
                            @include font-dpr(16px);
                            display: inline-block;
                            vertical-align: middle;
                            font-weight: 700;
                            color: #ee0a3b;
                            font-size: 16px;
                            margin-right: px2rem(12px);
                        }
                        small {
                            display: inline-block;
                            vertical-align: middle;
                            font-weight: 700;
                            color: #ee0a3b;
                            @include font-dpr(12px);
                        }
                    }
                    .flag-type {
                        color: #ff3600;
                    }
                    .flag-btn {
                        position: absolute;
                        width: px2rem(160px);
                        padding: px2rem(12px) 0;
                        background-color: #ee0a3b;
                        text-align: center;
                        color: #fff;
                        font-weight: 700;
                        @include font-dpr(14px);
                        bottom: px2rem(10px);
                        right: px2rem(15px);
                        border-radius: px2rem(2px);
                    }
                }
            }
        }
    }
}