@import "mixin";
// px2rem()
// @include font-dpr()
html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "PingFang SC", "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
}

.index-wrapper {
    width: 100%;
    background-color: #5fb5d8;
    position: relative;
    .top-bg {
        img {
            width: 100%;
            display: block;
        }
    }
    .kind {
        display: flex;
        padding: px2rem(16px) 0;
        background-color: #488892;
        .kind-left,
        .kind-right {
            flex: 0 0 50%;
            box-sizing: border-box;
            text-align: center;
            img {
                width: px2rem(146px);
                display: inline-block;
                vertical-align: top;
            }
        }
        .kind-left {
            border-right: 1px solid #FFF;
        }
    }
    .center-fix {
        width: calc(100% - 0.3125rem);
        margin: 0 auto;
        padding-bottom: px2rem(10px);
        .decoration-top,
        .decoration-mid,
        .decoration-bot {
            img {
                width: 100%;
                display: block;
            }
        }
        .center-inner {
            background-color: #FFF;
            padding: px2rem(42px) px2rem(14px);
            .block-area {
                &>.title {
                    width: 50%;
                    img {
                        width: 100%;
                        display: block;
                    }
                }
                &.seafood>.hr {
                    height: 1px;
                    background-color: #5fb5d8;
                    margin: px2rem(26px) 0;
                }
                &.beef>.hr {
                    height: 1px;
                    background-color: #ff0000;
                    margin: px2rem(26px) 0;
                }
                .list-item {
                    box-sizing: border-box;
                    width: 100%;
                    height: px2rem(262px);
                    padding: px2rem(25px) px2rem(7px);
                    margin-bottom: px2rem(30px);
                    box-shadow: 0 0 px2rem(8px) rgba(0, 0, 0, 0.2);
                    position: relative;
                    &:last-of-type {
                        margin-bottom: 0;
                    }
                    .border-decoration {
                        position: absolute;
                        width: px2rem(65px);
                        height: px2rem(59px);
                        top: 0;
                        left: px2rem(4px);
                        img {
                            width: 100%;
                            display: block;
                        }
                    }
                    .left {
                        float: left;
                        height: 100%;
                        margin-right: px2rem(11px);
                        img {
                            height: 100%;
                            display: block;
                        }
                    }
                    .right {
                        height: 100%;
                        overflow: hidden;
                        position: relative;
                        .title {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color: #000;
                            line-height: px2rem(24)px;
                            margin-bottom: px2rem(8px);
                            @include font-dpr(11px);
                        }
                        .en-title {
                            color: #a8a8a8;
                            @include font-dpr(9px);
                            margin-bottom: px2rem(11px);
                        }
                        .desc {
                            white-space: nowrap;
                            overflow: hidden;
                            text-overflow: ellipsis;
                            color: #a8a8a8;
                            margin-bottom: px2rem(18px);
                            @include font-dpr(9px);
                        }
                        .hr {
                            height: 1px;
                            background-color: #a8a8a8;
                            margin-bottom: px2rem(22px);
                        }
                        .prices {
                            display: flex;
                            position: absolute;
                            left: 0;
                            right: 0;
                            bottom: 0;
                            .price-item {
                                flex: 0 0 33.3%;
                                box-sizing: border-box;
                                &:nth-of-type(2) {
                                    border-left: 1px solid #FFF;
                                    border-right: 1px solid #FFF;
                                }
                                .price {
                                    .now {
                                        display: inline-block;
                                        vertical-align: middle;
                                        color: #b28435;
                                        @include font-dpr(12.5px);
                                    }
                                    .previous {
                                        display: inline-block;
                                        vertical-align: middle;
                                        text-decoration: line-through;
                                        color: #b7b7b7;
                                        @include font-dpr(6px);
                                    }
                                }
                                .weight {
                                    text-align: center;
                                    height: px2rem(34px);
                                    line-height: px2rem(34px);
                                    color: #000;
                                    @include font-dpr(7px);
                                }
                                .button {
                                    display: block;
                                    line-height: px2rem(36px);
                                    height: px2rem(36px);
                                    text-align: center;
                                    background: #b28435;
                                    color: #FFF;
                                    @include font-dpr(12px);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}